<div id="home">
<div class= "landing-text ">
    <h1>MIMMAR</h1>
    <h2>Let's build with us</h2>
    <!-- <button mat-stroked-button>Basic</button> -->
    <!-- <a href="#" class= "btn btn-default btn-lg"> Get Started </a> -->

</div>
</div>
<!-- <div><img src="assets\Aboutus.png"></div> -->
<div class= "padding">
    <div class= "container">
        <div class = "row">
            <div class = "col-sm-6">
                <img src="assets\blah.png" class="img-responsive">
            </div>
            <div class = "col-sm-6 text-center">
                <h2>Who are we?</h2>
                <p class="lead ">Mimmar is one of the upcoming e-projects in the Pakistani Contruction industry known for providing construction specialists to local users completely free of cost. 

                    Combining latest knowledge and expertise with the trending design software and manufacturing equipment, we enable our clients to think and build efficient, high-quality designs faster by providing them quality products, services, and professional consultation. 
                    
                    One of our main aim is to connect our customers both local and international to huge market audience, bringing them opportunities to grow their business faster. 
                    
                    Mimmar presents a speedy, cost-effective, and energy-efficient services available for free to everyone who uses this platform. 
                    </p>


                <!-- <a class="fa fa-tools fa-lg"></a> -->
            </div>

            <!-- <div class = "col-sm-4"></div> -->
        </div>
    </div>
</div>
<!-- <img src="assests\sass.png"> -->

<div id="fixed">

</div>

<!-- <img src="assets\sass.png" class="img-responsive"> -->
<!-- <img src="assests\homerepair.png"> -->
<div class="padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <img src="assets\interior.png" class="img-responsive">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <h4>Interior Design</h4>
                <p>Our interior design services range from the early concept visioning and design thinking to ready-to-deliver construction designs and construction administration. 
                </p>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <img src="assets\architechture.png" class="img-responsive">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <h4> Architecture</h4>
                <p>Combining the process of product design, its planning and the construction of end product, we provide quality consultation on architecture design fulling our customer needs providing them best product according to their demands.</p>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <img src="assets\homerepair.png" class="img-responsive">
            </div>

            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <h4> Repair</h4>
                <p>From cleaning, painting to house repairment and plumbing, We aim is to reach to each of our customer and fulfill their needs at fast as possible.</p>
            </div>

        </div>
    </div>
</div>

