
.landing-text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;

   }
   
   .landing-text h1{
       font-size: 700%;
       font-weight: 700;
       padding: 2%;
   }
   
   .landing-text h2{
       font-size: 200%;
       font-weight: 700;
   }
   
   .padding{
       padding: 80px 0;
   }
   .padding img{
       width: 100%;
   }
   
   .padding h4{
       font-weight: 700;
       font-size: 150%;
   }
   

   
   .padding img{
       width: 100%;
   }
   
   .padding h2{
       font-weight: 700;
       font-size: 200%;
   }
   
   .lead{
       font-size: 150%;
   }
   
   @media(max-width: 768px){
       .landing-text h1{
           font-size: 300%;
       }
       .lead{
           font-size: 100%;
       }
       .padding h2{
           font-weight: 700;
           font-size: 120%;
       }
       .padding h4{
           font-weight: 700;
           font-size: 120%;
       }
       .padding p{
           font-size: 100%;
       }
       .padding img{
           min-width: 50%;

       }
       
   }