<footer class = "footer  text-center text-white ">

    <div class= "row">
        <div class="col-sm-4">
            <h3>
                Contact Us
            </h3>
            <br>
            <h4>Feel free to visit our office located at H*bib University
            </h4>
        </div>
        <div class="col-sm-4">
            <h3>Connect</h3>
            <br>
            <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
            <a href="https://twitter.com/" class="fa fa-twitter"></a>
            <a href="https://www.google.com/" class="fa fa-google"></a>
            <a href="https://www.linkedin.com/" class="fa fa-linkedin"></a>
            <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
        </div>
        <div class="col-sm-4">
            <img src="assets\Logofooter.png" class="icon">
        </div>
    </div>
    <div class="text-center p-3 fixed-bottom" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-white" href="#">mimmar.com</a>
      </div>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
</footer> 

