<div id="guide">

</div>

<div class= "padding">
    <div class= "container">
        <div class = "row">
            <div class = "col-sm-6">
                <img src="assets\interior.png" class="img-responsive">
            </div>
            <div class = "col-sm-6 text-center">
                <h2>Interior Design</h2>
                <p class="lead ">Beautiful homes, pleasurable snazzy office layouts, and breath-taking retail spaces are the result of knowledgeable and creative minds employing skilled workers and high-grade material to create masterpieces in residential, corporate, and commercial spaces. 

                    Our talented team will get you connected with legitimate individuals and companies to help you transform any property into a beautiful and aesthetic space through interior design. From the minimalistic, luxurious, and contemporary to the classic contemporary, Mimmar can transform any new build or renovation into an attractive design for any taste. 
                    
                    Our interior design services range from the early concept visioning and design thinking to ready-to-deliver construction designs and construction administration. We help connect different quality interior designers everywhere from the world to our local and international audiences looking for their services to get their job done smoothly and in return providing great opportunities to the service providers. 
                    
                    To find what services you want to get, you have to search for that services within the interior design category where you will find the service along with other services with their respective seller information and ratings to have the better idea of the service and the credibility of the service provider selling that service. 
                    </p>
                    
                    <button type="button" class="btn btn-outline-secondary position-relative" [routerLink]="'../Interior'">Get Connected</button>
            </div>
        </div>
    </div>
</div>

<div id='interior'></div>

<div class= "padding">
    <div class= "container">
        <div class = "row">

            <div class = "col-sm-6 text-center">
                <h2>Architecture</h2>
                <p class="lead ">Mimmar helps you get connected with legitimate individuals and companies that offers the perfect architecture design that is not only eye-catching but can also be termed as a valuable solution. Moreover, our team has a proactive approach and our team discusses all the intricate aspects with the client when it comes to home architecture in Pakistan. 

                    We can proudly state that we have introduced the concept of innovation in designing the architecture. Mimmar believes in scheduling parameters that help in creating the functional space with an aesthetic environment. Therefore, we have an edge over competitors. 
                    
                    Restaurant, showroom, office, shopping malls and house architecture designs are our forte. To find what architecture services and designs you want to get made, you will have to search for those services within architecture category where you will find the service along with other services with their respective seller information and ratings to have the better idea of the service and the credibility of the service provider selling that service. 
                    </p>

                    <button type="button" class="btn btn-outline-secondary position-relative" [routerLink]="'../Architecture'">Get Connected</button>
            </div>
            <div class = "col-sm-6">
                <img src="assets\architechture.png" class="img-responsive">
            </div>
        </div>
    </div>
</div>


<div id= "architechture"></div>

<div class= "padding">
    <div class= "container">
        <div class = "row">
            <div class = "col-sm-6">
                <img src="assets\homerepair.png" class="img-responsive">
            </div>
            <div class = "col-sm-6 text-center">
                <h2>Repair</h2>
                <p class="lead ">Mimmar is linked with professional and experienced team of technicians with years of experience in hand of their relevant fields. That is, we can take care of works of different type of industries at the same time.  

                    The idea behind our repair service category was to bridge the gap between the service providers and property owners and deliver exceptional and professional servicing through security cleared, experienced and trained personnel in the quickest possible time. Everything you need to do is to book the required service through our app, website or phone and our well-equipped technicians will reach at the specified location on the agreed time. 
                     
                    Our unyielding quest to surpass the expectations of our clients has helped us become one of the most sought-after property maintenance and repair companies in the town. We attribute our success to developing sustainable partnerships and treating our clients with utmost respect and courtesy. 
                    
                    To find what repair and maintenance services you want us to get done, you will have to search for those services within repair category where you will find the service along with other services with their respective seller information and ratings to have the better idea of the service and the credibility of the service provider selling that service. 
                    </p>

                    <button type="button" class="btn btn-outline-secondary position-relative" [routerLink]="'../Repair'">Get Connected</button>

            </div>
        </div>
    </div>
</div>

